

.header {
	position: relative;
	text-align: center;
	padding: 20px 0;

	.equipment {
		position: absolute;
		left: 5px;
		bottom: 5px;
		right: 5px;
		max-width: 96%;
		z-index: 1;
	}

	.logo {
		position: relative;
		z-index: 5;
	}

	.backgroundsize & {
		background: url(../img/bg-white-molecules.png) center center no-repeat;
		background-size: cover;
	}
	
	@include respond-to( 768px ) {

		.logo {
			position: absolute;
			right: 3%;
			top: 3%;
			max-width: 45%;
		}

		.equipment {
			left: 2%;
			bottom: -5px;
			right: auto;
		}

	}
	
	@include respond-to( 1024px ) {

		.equipment {
			max-width: 72%;
		}

		.backgroundsize &:after {
			content: "";
			width: 28%;
			max-width: 375px;
			height: 70%;
			background: url(../img/microscope.png) bottom center no-repeat;
			background-size: contain;
			position: absolute;
			bottom: -10px;
			right: 2%;
			z-index: 2;
		}

	}

}

